doctype html
html(lang="en")
  head
    title Here comes the title
    meta(charset="UTF-8")
    meta(name="description" content="Here comes the description")
      link(rel="stylesheet" type="text/css" href="/style.css")
  body
    h1 Welcome
    p This is a paragraph
